{% extends 'base.html' %}

{% block content %}
<div class="w-[99vw] h-[93vh] rounded-xl bg-gradient-to-r from-cyan-300 to-sky-300">
    <div class="flex justify-center mt-48">
        <input type="text" class="w-96 h-12 rounded-l-xl" placeholder=" Add New Task...">
        <button class="border border-gray-500 text-gray-700 px-6 rounded-r-xl active:scale-[.9] active:duration-75 ease-in-out transition-all">+</button>
    </div>
    <div class="flex justify-center items-center h-fit mt-5">
        <div class="flex">
            <button class="border border-gray-500 text-gray-700 px-6 rounded-l-xl active:scale-[.9] active:duration-75 ease-in-out transition-all">/</button>
            <div class="flex justify-center border border-gray-500 w-80 p-3">
                <p>List Item 1</p>
            </div>
            <button class="border border-gray-500 text-gray-700 px-6 rounded-r-xl active:scale-[.9] active:duration-75 ease-in-out transition-all">X</button>
        </div>
        
    </div>
</div>
{% endblock content %}
