{% extends 'base.html' %}
{% block content %}
<div class='flex flex-col justify-center items-center h-screen'>
    <form action="" method='POST'>
        {% csrf_token %}
        <span>{{form.username.label_tag}}</span>
        <div class='border border-black'>
            {{form.username}}
        </div>
        <span>{{form.email.label_tag}}</span>
        <div class='border border-black' >
            {{form.email}}
        </div>
        <span>Password</span>
        <div class='border border-black'>
            {{form.password1}}
        </div>
        <span>Confirm password</span>
        <div class='border border-black'>
            {{form.password2}}
        </div>
        <button type='submit' class='bg-gray-700 p-4 px-5 mt-4'>Submit</button>
    </form>
    <a href='{% url 'login' %}' hx-swap='outerHTML'>Already have an account? Login</a>
</div>


{% endblock content %}